font-family: 'Shippori Antique', sans-serif;

* {
    
    box-sizing: border-box;
}

.w3-container {
    background-color:rgba(141, 233, 122, 0.61);
    border: 45px dotted rgba(42, 209, 142, 0.986);
    width: 25%;
    height: 25;
    padding: 20px;
    display: center;
    text-align: left;
    margin-left: 450px;
    line-height: 20px;
    margin-block: -400px;
}
ul {
    list-style-type: none;
    margin: 800;
    padding: 800;
    text-align: center;
  }
  
li a {
    text-align: center;
    display: list-item;
    width: 180px;
    height: 100px;
    background-color: #c9f3da;
    text-decoration-color: blueviolet;
  }
html {
    cursor: url(../taxi.png), pointer;
}
.shark {
    height: 20%;
    position: absolute;
    bottom:-600px;
    display: block;  
    margin-left: 40%;  
    margin-right: 50%;  
    border: 8px dashed rgb(28, 95, 240);  
    padding: 5px;  
        
}


* img {
    border: 5px solid rgb(93, 176, 197);
}
a {
    text-align: center;
    width: 205px;
    background-color: #c9f3da;
    text-decoration-color: blueviolet;

}
.fish{
    position: absolute; 
    bottom: -2000px;
    display: inline;  
    margin-left: 43%;
}

.ethical-decision {
    background-color:rgba(141, 233, 122, 0.61);
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}


.class-id {
    background-color:rgba(141, 233, 122, 0.61);
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

